body{
  background: linear-gradient(45deg,black, red);
}

header{
  width: 100%;
  background: linear-gradient(45deg,black, #1E2120);
  height: 150px;
}
h1{
  color: #D9642C;
  font-size: 35px;
}
nav{
  display: none;
}
div.movies{
  display: flex;
  flex-wrap: wrap;
}
img{
  display: flex;
  flex:auto;
  width: 150px;
  margin-right: 25px;
  margin-top: 25px;
}
a{
  color: #D9642C;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  margin-top: 25px;
}
@media only screen and (min-width:700px) {
  body{
    background: linear-gradient(45deg, #1E2120, #D9642C);
  }
}
@media(max-width:700px){
  h1{
    justify-content: center;
    display: flex;
  }
}

@media(min-width:700px){
    nav{
      display: block;
      }
    }
    div{
      width: 100%;
    }
  }
